.chatlist {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: black transparent; /* For Firefox */

    /* Webkit Scrollbar Styling */
    &::-webkit-scrollbar {
        width: 1px; /* Width of the scrollbar */
        height: 0px; /* Hide the horizontal scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: white; /* Transparent background for the scrollbar track */
    }

    &::-webkit-scrollbar-thumb {
        background-color: black; /* Color of the scrollbar thumb */
        border-radius: 0; /* No border radius */
    }

    .search {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;

        .searchBar {
            flex: 1;
            background-color: hsla(187, 32%, 47%, 0.732);
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 10px;
            padding: 10px;

            input {
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }

        .add {
            width: 36px;
            height: 36px;
            background-color: hsla(187, 32%, 47%, 0.732);
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid black;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        span {
            font-weight: 500;
        }

        p {
            font-size: 14px;
            font-weight: 300;
        }
    }
}
